extends template.pug 
block content 
    h2.bienVoir  Prendre exemple sur le Hall of Fame !
    div#highscore
        ol#topPlayers
            li=premier
            li=deuxieme
            li=troisieme
            li=quatrieme
            li=cinquieme
            li=sixieme
            li=septieme
            li=huitieme
            li=neuvieme
            li=dixieme
            